/*  phpBB 3.0 Style Sheet
    --------------------------------------------------------------
	Style name:		DarkFantasy
	Author:		Daniel St. Jules ( http://www.gamexe.net/ )
    --------------------------------------------------------------
*/

/*--------------------------*/
/* GENERAL STYLES */
/*--------------------------*/

* { margin : 0; padding: 0; border: 0; }

body {
	background: #0d0f0c; 
	color: #573325;
	font-size: 10pt;
	font-family: Verdana, Arial;
	margin-bottom: 10px;
	font-size: 10px;
	}

a {color: #a24c1e;}
a:hover {color: #800c0c;}
a img { border:0; } 
a:active, a:focus  { -moz-outline:none }
/* <q></q> more */ q {display:block;} q:before, q:after {content:"";}
.clear {clear:both;}
.relative {position:relative;}
a {	outline: none; text-decoration:none;}	
object { outline:none; }
h2 {font:24px Georgia, "Times New Roman", Times, serif; color:#A17315; letter-spacing:.01em; text-align:center;}
.intro {padding:20px;}
/*p {font:14px/24px Arial, Helvetica, sans-serif; margin:1.8em 0;}
p.lead {position:relative; z-index:2; font:18px/24px Georgia;}
p.lead:first-line, p.sub { font:normal 18px Georgia; }*/
.hr {height:1px; padding:0; font-size:1px; line-height:1px; background-color:#cab26e; width:452px; margin:0 auto; }
.hr hr {display:none;}

/*a:link,a:active,a:visited { text-decoration: none; color : #114057; }
a:hover		{ text-decoration: none; color : #172F3B; }*/
a.link02:link,a.link02:active,a.link02:visited { text-decoration: none; color : #FF9900; }
a.link02:hover		{ text-decoration: none; color : #FFFF00; }
.copyright {
	color: #999999;
	font-weight: normal;
	font-family: Verdana, Arial, Helvetica, sans-serif, "Lucida Grande";
	letter-spacing: -1px;
}
a.copyright:link, a.copyright:visited, a.copyright:active {color: #999999;}
a.copyright:hover {color: #FFFFFF;text-decoration: underline;}

.fr { float: right; }

.fl { float: left; }

@font-face {
    font-family: 'lifecraftregular';
    src: url('../fonts/lifecraft_font-webfont.eot');
    src: url('..//fonts/lifecraft_font-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/lifecraft_font-webfont.woff2') format('woff2'),
         url('../fonts/lifecraft_font-webfont.woff') format('woff'),
         url('../fonts/lifecraft_font-webfont.ttf') format('truetype'),
         url('../fonts/lifecraft_font-webfont.svg#lifecraftregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
        font-family:'andikaregular';
        src:url('../fonts/andika-r-webfont.eot');
        src:url('../fonts/andika-r-webfont.eot?#iefix') format('embedded-opentype'),
 url('../fonts/andika-r-webfont.woff') format('woff'),
 url('../fonts/andika-r-webfont.ttf') format('truetype'),
 url('../fonts/andika-r-webfont.svg#andikaregular') format('svg');
        font-weight:normal;
        font-style:normal;
}
@font-face {
        font-family:'artifikamedium';
        src:url('../fonts/artifika-regular-webfont.eot');
        src:url('../fonts/artifika-regular-webfont.eot?#iefix') format('embedded-opentype'),
 url('../fonts/artifika-regular-webfont.woff') format('woff'),
 url('../fonts/artifika-regular-webfont.ttf') format('truetype'),
 url('../fonts/artifika-regular-webfont.svg#artifikamedium') format('svg');
        font-weight:normal;
        font-style:normal;
}
@font-face {
        font-family:'im_fell_double_picaregular';
        src:url('../fonts/imfedprm28p-webfont.eot');
        src:url('../fonts/imfedprm28p-webfont.eot?#iefix') format('embedded-opentype'),
 url('../fonts/imfedprm28p-webfont.woff') format('woff'),
 url('../fonts/imfedprm28p-webfont.ttf') format('truetype'),
 url('../fonts/imfedprm28p-webfont.svg#im_fell_double_picaregular') format('svg');
        font-weight:normal;
        font-style:normal;
}

div#themenu {
        width:940px;
/*        margin:0 auto;*/
}
div#themenu ul.navigation {
        list-style-type:none;
        width:940px;
        height:156px;
}
div#themenu ul.navigation li {
        float:left;
        height:65px;
        width:188px;
}
div#themenu ul.navigation li:first-child {
        background:none;
}
div#themenu ul.navigation li a {
        display:block;
        height:65px;
        font-family:'lifecraftregular';
        font-size:20px;
        color:#ffffff;
        text-decoration:none;
        width:188px;
        text-align:center;
        line-height:75px;
        text-shadow:0 1px 0 #2f211c;
}
div#themenu ul.navigation li a:hover {
        display:block;
        height:65px;
        font-family:'lifecraftregular';
        font-size:20px;
        color:#ffffff;
        text-decoration:none;
        width:188px;
        text-align:center;
        line-height:75px;
        background:url("../images/menu.png") no-repeat scroll 28px 20px transparent;
        text-shadow:0 1px 0 #1a0d07;
}
div#themenu ul.navigation li a.active {
        display:block;
        height:65px;
        font-family:'lifecraftregular';
        font-size:20px;
        color:#ffffff;
        text-decoration:none;
        width:188px;
        text-align:center;
        line-height:75px;
        background:url("../images/menu.png") no-repeat scroll 28px 20px transparent;
        text-shadow:0 1px 0 #1a0d07;
}
div#themenu ul.navigation li a.brown {
        display:block;
        height:65px;
        font-family:'lifecraftregular';
        font-size:20px;
        color:#835C3B;
        text-decoration:none;
        width:188px;
        text-align:center;
        line-height:75px;
        text-shadow:0 1px 0 #2f211c;
}
        
div#themenu ul.navigation2 {
        list-style-type:none;
        width:940px;
        height:156px;
}
div#themenu ul.navigation2 li {
        float:left;
        height:65px;
        width:188px;
}
div#themenu ul.navigation2 li:first-child {
        background:none;
}
div#themenu ul.navigation2 li a {
        display:block;
        height:65px;
        font-family:'lifecraftregular';
        font-size:20px;
        color:#835C3B;
        text-decoration:none;
        width:188px;
        text-align:center;
        line-height:75px;
        text-shadow:0 1px 0 #2f211c;
}
div#themenu ul.navigation2 li a:hover {
        display:block;
        height:65px;
        font-family:'lifecraftregular';
        font-size:20px;
        color:#835C3B;
        text-decoration:none;
        width:188px;
        text-align:center;
        line-height:75px;
        background:url("../images/menu.png") no-repeat scroll 28px 20px transparent;
        text-shadow:0 1px 0 #1a0d07;
}
div#themenu ul.navigation2 li a.active {
        display:block;
        height:65px;
        font-family:'lifecraftregular';
        font-size:20px;
        color:#835C3B;
        text-decoration:none;
        width:188px;
        text-align:center;
        line-height:75px;
        background:url("../images/menu.png") no-repeat scroll 28px 20px transparent;
        text-shadow:0 1px 0 #1a0d07;
}

div#about {
        width:788px;
    /*    min-height:1000px;*/
        padding:5px 5px;
margin-left: 70px;
}
div#about ul {
        list-style-type:none;
        margin-bottom:10px;
        padding:0;
 border-radius: 1em;
  -moz-border-radius: 1em;
  -webkit-border-radius:1em;
  border:1px solid #9c542c;
  /*shadows*/
  -moz-box-shadow: 3px 3px 5px #a15d38; /* for Firefox 3.5+*/
  -webkit-box-shadow: 3px 3px 5px #4f3514; /* for Safari and Chrome*/
   filter: progid:DXImageTransform.Microsoft.Shadow(color='#4f3514', Direction=145, Strength=3);
  background:  #dcb975;

}
div#about ul li {
        margin:0 0 8px;
}
div#about ul li h2 {
        color:#573325;
        text-align: center;
        font-family:'artifikamedium';
        font-size:20px;
        font-weight:normal;
        margin:2px;
        line-height:55px;
        background:url("../images2/table_top.gif") no-repeat;
        height: 50px;
}
div#about ul li h2 a {
        color:#573325;
        text-shadow: 0 1px 0 #000000;
        font-family:'artifikamedium';
        font-size:20px;
        text-decoration:none;
}
div#about ul li h2 a:hover {
        color:#573325;
        text-shadow: 0 1px 0 #000000;
        font-family:'artifikamedium';
        font-size:20px;
}
div#about ul li p {
        color:#573325;
        font-family:artifikamedium;
        font-size:12px;
        line-height:24px;
        padding: 3px;
        letter-spacing:0.5px;
        margin-top:0;
        margin: 0 0 5px 0;
        background:url("../images2/table_bg.jpg") no-repeat;
 border-radius: 1em;
  -moz-border-radius: 1em;
  -webkit-border-radius:1em;
  border:1px solid #9c542c;
  /*shadows*/
  -moz-box-shadow: 3px 3px 5px #a15d38; /* for Firefox 3.5+*/
  -webkit-box-shadow: 3px 3px 5px #4f3514; /* for Safari and Chrome*/
   filter: progid:DXImageTransform.Microsoft.Shadow(color='#4f3514', Direction=145, Strength=3);

}
div#about ul li p a {
        color:#836f71;
        font-family:artifikamedium;
        font-size:12px;
}
div#about ul li p a:hover {
        color:#c7979d;
        font-family:artifikamedium;
        font-size:12px;
}
div#about ul li p span {
        display:block;
}


#headerlogo {
  z-index:300;
  LEFT: 50%;
  Margin-left: -215px;
  POSITION:absolute;
  TOP:10px;
  width:262px;
  height:130px;
}

#pagebg {
  z-index:-15;
  LEFT: 0px;
  POSITION:absolute;
  TOP:250px;
  width:100%;
  height:684px;
/*  TOP: 50px;
  width:100%;
  height: 100px;*/
  background: url("../images2/page-bg.jpg") center no-repeat;
}
#pagebg2 {
  z-index:-15;
  LEFT: 0px;
  POSITION:absolute;
/*  TOP:250px;
  width:100%;
  height:684px;*/
  TOP: 50px;
  width:100%;
  height: 100px;
  background: url("../images2/page-bg.jpg") center no-repeat;
}


/*------------------------*/
/* LAYOUT STYLES */
/*------------------------*/

#separador { width: 100%; height: 39px; margin: 0 auto; background: url("../images2/separador.gif") top center no-repeat}
#adorno { width: 100%; height: 39px; margin: 0 auto; background: url("../images2/adorno.gif") bottom center no-repeat}
#container { width: 100%; background: url("../images2/header-bg.jpg") top center no-repeat}

#wrapper {
	width: 940px; 
	margin: 0 auto; 
	/*background: url("{T_THEME_PATH}/images/parchment-bg.jpg") top center repeat-y;*/ 
	position: relative; 
	top: 88px;
	}
	
#header {
	height: 104px;
	position: absolute;
	top: -88px;
	left: 46px;
}
	
#footer {
	background: url("../images2/page-footer.jpg") top center no-repeat; 
	height: 350px;
	text-align: center;
	clear: both;
	color: #AAAAAA;
	padding-top: 20px;
	}

#contentbg { margin: 0px; width: 940px; background: #edde8d url("../images2/parchment-bg.jpg") top center repeat-y;}
#contenttop   { width: 940px; background: url("../images2/parchment-top.jpg") top center no-repeat;}
#contentbottom{ width: 940px; align:center; margin:auto; background: url(../images2/parchment-bottom.gif") bottom center no-repeat;}
#maincontent { 
	width: 788px;
	padding: 10px 25px 40px 25px; 
	/*background: url("../images2/parchment-bottom.gif") bottom center no-repeat;*/
  align: center;
  margin: auto; 
/*	min-height: 400px;
	height: auto !important;
	height: 300px;*/
        height: 100px;
}

#top_menu { 	position: absolute; top: 10px; left: 50%; margin-left: -190px; width: 380px; }

a:hover#faq, a:hover#search, a:hover#ucp, a:hover#members {
	background-position: 0px -22px;
}

a#faq, a#search, a#ucp, a#members  {
	display: block;
	width: 73px;
	height: 22px;
	text-indent: -4000px;
	float: right;
	margin-right: 20px;
}

a#faq {
	background: url("{T_IMAGESET_LANG_PATH}/menu_faq.gif") 0 0 no-repeat;
}
a#search {
	background: url("{T_IMAGESET_LANG_PATH}/menu_search.gif") 0 0 no-repeat;
}
a#ucp {
	background: url("{T_IMAGESET_LANG_PATH}/menu_ucp.gif") 0 0 no-repeat;
}
a#members {
	background:url("{T_IMAGESET_LANG_PATH}/menu_members.gif") 0 0 no-repeat;
}

/*---------------------------*/
/* CONTENT STYLES */
/*---------------------------*/

/* Layout
 ------------ */

#datebar {
	margin: 10px 25px 0 25px;
}

#findbar {
	width: 100%;
	margin: 0;
	padding: 0;
	border: 0;
}

.forumrules {
	background-color: #F9CC79;
	border-width: 1px;
	border-style: solid;
	border-color: #BB9860;
	padding: 4px;
	font-weight: normal;
	font-size: 1.1em;
	font-family: "Lucida Grande", Verdana, Arial, Helvetica, sans-serif;
}

.forumrules h3 {
	color: red;
}

#pageheader { }
#pagecontent { }
#pagefooter { }

#poll { }
#postrow { }
#postdata { }


/*  Text
 --------------------- */
h1 {
	color: black;
	font-family: "Lucida Grande", "Trebuchet MS", Verdana, sans-serif;
	font-weight: bold;
	font-size: 1.8em;
	text-decoration: none;
}

h2 {
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 1.5em;
	text-decoration: none;
	line-height: 120%;
}

h3 {
	font-size: 1.3em;
	font-weight: bold;
	font-family: Arial, Helvetica, sans-serif;
	line-height: 120%;
}

h4 {
	margin: 0;
	font-size: 1.1em;
	font-weight: bold;
}

p {
	font-size: 1.1em;
}

p.moderators {
	margin: 0;
	float: left;
	color: black;
	font-weight: bold;
}

.rtl p.moderators {
	float: right;
}

p.linkmcp {
	margin: 0;
	float: right;
	white-space: nowrap;
}

.rtl p.linkmcp {
	float: left;
}

p.breadcrumbs {
	margin: 0;
	float: left;
	color: black;
	font-weight: bold;
	white-space: normal;
	font-size: 1em;
}

.rtl p.breadcrumbs {
	float: right;
}

p.datetime {
	margin: 0;
	float: right;
	white-space: nowrap;
	font-size: 1em;
}

.rtl p.datetime {
	float: left;
}

p.searchbar {
	padding: 2px 0;
	white-space: nowrap;
} 

p.searchbarreg {
	margin: 0;
	float: right;
	white-space: nowrap;
}

.rtl p.searchbarreg {
	float: left;
}

p.forumdesc {
	padding-bottom: 4px;
}

p.topicauthor {
	margin: 1px 0;
}

p.topicdetails {
	margin: 1px 0;
}

.postreported, .postreported a:visited, .postreported a:hover, .postreported a:link, .postreported a:active {
	margin: 1px 0;
	color: red;
	font-weight:bold;
}

.postapprove, .postapprove a:visited, .postapprove a:hover, .postapprove a:link, .postapprove a:active {
	color: green;
	font-weight:bold;
}

.postapprove img, .postreported img {
	vertical-align: bottom;
	padding-top: 5px;
}

.postauthor {
	color: #000000;
}

.postdetails {
	color: #000000;
}

.postbody {
	font-size: 1.3em;
	line-height: 1.4em;
	font-family: "Lucida Grande", "Trebuchet MS", Helvetica, Arial, sans-serif;
}

.postbody li, ol, ul {
	margin: 0 0 0 1.5em;
}

.rtl .postbody li, .rtl ol, .rtl ul {
	margin: 0 1.5em 0 0;
}

.posthilit {
	background: #D3EAF6;
}

.nav {
	margin: 0;
	color: black;
	font-weight: bold;
}

.pagination {
	padding: 4px;
	color: black;
	font-size: 1em;
	font-weight: bold;
}

.cattitle {

}

.gen {
	margin: 1px 1px;
	font-size: 1.2em;
}

.genmed {
	margin: 1px 1px;
	font-size: 1.1em;
}

.gensmall {
	margin: 1px 1px;
	font-size: 1em;
}

.notice {
	font-weight: normal;
	font-family: "Lucida Grande", Verdana, Arial, Helvetica, sans-serif;
}

.titles {
	font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
	font-weight: bold;
	font-size: 1.3em;
	text-decoration: none;
}

.error {
	color: red;
}


/* Tables
 ------------ */
 
/*table {background: url("{T_THEME_PATH}/images/table_bg.jpg") top center repeat-y;}*/
table { border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius:5px;}
table.transparent tr { background: transparent; }
 
th {
	color: #FFFFFF;
	font-size: 1.1em;
	font-weight: bold;
	background: url("../images2/tableheader.jpg") repeat-x;
	white-space: nowrap;
	padding: 8px 5px 8px 5px;
	text-align: center;
  border-radius: 1em;
  -moz-border-radius: 1em;
  -webkit-border-radius:1em;
  border:2px solid #ffffff;
  border: 2px #ffffff solid;
}

td {
	padding: 2px;
}
td.profile {
	padding: 4px;
}

/*.tablebg tr { background: url("{T_THEME_PATH}/images/cellbg1.jpg"); }*/
.tablebg {
  background: url("../images2/table_bg.jpg");
  border-radius: 1em;
  -moz-border-radius: 1em;
  -webkit-border-radius:1em;
  border:2px solid #ffffff;
  /*shadows*/
  -moz-box-shadow: 3px 3px 5px #a15d38; /* for Firefox 3.5+*/ 
  -webkit-box-shadow: 3px 3px 5px #4f3514; /* for Safari and Chrome*/ 
   filter: progid:DXImageTransform.Microsoft.Shadow(color='#4f3514', Direction=145, Strength=3);  

}
.catdiv {
	height: 28px;
	margin: 0;
	padding: 0;
	border: 0;
	background: url("../images2/cellpic2.jpg") repeat-y scroll top left;
}
.rtl .catdiv {
	background: url("../images2/cellpic2_rtl.jpg") repeat-y scroll top right;
}

.cat {
	height: 40px;
	margin: 0;
	padding: 10px 0 0 5px;
	border: 0;
	background: url("../images2/table_top.gif") top no-repeat;
  border-radius: 1em; -moz-border-radius: 1em; -webkit-border-radius:1em;
	text-indent: 4px;
}

.row1 {
	padding: 4px;
	border: 1px #9c542c solid;
	/*border-width: 1px 0 0 1px;*/
	border-radius: 1em; -moz-border-radius: 1em; -webkit-border-radius:1em;
	/*background: url("{T_THEME_PATH}/images2/table_bg.jpg") top;*/
}

.row2 {
	padding: 4px;
	border: 1px #9c542c solid;
	/*border-width: 1px 0 0 1px;*/
	border-radius: 1em; -moz-border-radius: 1em; -webkit-border-radius:1em;
	/*background: url("{T_THEME_PATH}/images/table_bg.jpg") top;*/
}

.row3 {
	padding: 4px;
	border: 1px #9c542c solid;
	border-radius: 1em; -moz-border-radius: 1em; -webkit-border-radius:1em;
	/*background: url("{T_THEME_PATH}/images/table_bg.jpg") top;*/
}

.spacer {
	/*background: url("{T_THEME_PATH}/images/space.gif") top repeat-x;*/
}

hr {
	height: 1px;
	border-width: 0;
	background-color: #B5BDBF;
	color: #B5BDBF;
}

.legend {
	text-align:center;
	margin: 0 auto;
}

/* Links
 ------------ */

/* Links adjustment to correctly display an order of rtl/ltr mixed content */
.rtl a {
	direction: rtl;
	unicode-bidi: embed;
}
 
.notice a:link, .notice a:visited, .notice a:active { color: #a24c1e; }

.notice a:hover { color: #800c0c; }

a.forumlink {
	color: #a24c1e;;
	font-weight: bold;
	font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
	font-size: 1.2em;
	text-decoration: none;
}

a.forumlink:hover {
  color: #392013;
  text-decoration: none;
}

a.topictitle {
	margin: 1px 0;
	font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
	font-weight: bold;
	font-size: 1.2em;
}

a.topictitle:hover {
	color: #800c0c;
	text-decoration: none;
}

th a:hover {
	text-decoration: underline;
}


/* Form Elements
 ------------ */
form {
	margin: 0;
	padding: 0;
	border: 0;
}

input {
	color: #0d0f0c;
	font-family: "Lucida Grande", Verdana, Helvetica, sans-serif;
	font-size: 1.1em;
	font-weight: normal;
	padding: 1px;
	border: 1px solid #996633;
	background: #ba9560 url("{T_THEME_PATH}/images/input.gif") top repeat-x;
	border-radius: 4px; -moz-border-radius: 4px; -webkit-border-radius:4px;
	  /*shadows*/
  -moz-box-shadow: 1px 1px 2px #4f3514; /* for Firefox 3.5+*/ 
  -webkit-box-shadow: 1px 1px 2px #4f3514; /* for Safari and Chrome*/    
   filter: progid:DXImageTransform.Microsoft.Shadow(color='#4f3514', Direction=145, Strength=2);
}

textarea {
	background: #ba9560; /*url("{T_THEME_PATH}/images/gradient.png") top repeat-x;*/
	color: #0d0f0c;
	font-family: "Lucida Grande", Verdana, Helvetica, Arial, sans-serif;
	font-size: 1.3em; 
	line-height: 1.4em;
	font-weight: normal;
	border: 1px solid #996633;
	padding: 2px;
	border-radius: 4px; -moz-border-radius: 4px; -webkit-border-radius:4px;	
	  /*shadows*/
  -moz-box-shadow: 1px 1px 2px #4f3514; /* for Firefox 3.5+*/ 
  -webkit-box-shadow: 1px 1px 2px #4f3514; /* for Safari and Chrome*/    
   filter: progid:DXImageTransform.Microsoft.Shadow(color='#4f3514', Direction=145, Strength=2);
}

select {
	color: #0d0f0c;
	background: #ba9560 url("{T_THEME_PATH}/images/input.gif") top repeat-x;
	font-family: "Lucida Grande", Verdana, Helvetica, sans-serif;
	font-size: 1.1em;
	font-weight: normal;
	border: 1px solid #996633;
	padding: 1px;
	border-radius: 4px; -moz-border-radius: 4px; -webkit-border-radius:4px;
	  /*shadows*/
  -moz-box-shadow: 1px 1px 2px #4f3514; /* for Firefox 3.5+*/ 
  -webkit-box-shadow: 1px 1px 2px #4f3514; /* for Safari and Chrome*/    
   filter: progid:DXImageTransform.Microsoft.Shadow(color='#4f3514', Direction=145, Strength=2);
}

.helpline {
	background: #ba9560 url("{T_THEME_PATH}/images/input.gif") top repeat-x;;
	border-style: 1px solid #996633;
}

option {
	padding: 0 1em 0 0;
}

option.disabled-option {
	color: graytext;
}

.rtl option {
	padding: 0 0 0 1em;
}

input.radio {
	border: 0;
	background-color: transparent;
	vertical-align: middle;
}

.btnbbcode {
	color: #ffffff;
	font-weight: normal;
	font-size: 1.1em;
	font-family: "Lucida Grande", Verdana, Helvetica, sans-serif;
	border: 1px solid #996633;
	border-radius: 4px; -moz-border-radius: 4px; -webkit-border-radius:4px;
	background: #663300 url("{T_THEME_PATH}/images/tableheader.jpg") top repeat-x;
	  /*shadows*/
  -moz-box-shadow: 1px 1px 2px #4f3514; /* for Firefox 3.5+*/ 
  -webkit-box-shadow: 1px 1px 2px #4f3514; /* for Safari and Chrome*/    
   filter: progid:DXImageTransform.Microsoft.Shadow(color='#4f3514', Direction=145, Strength=2);
}

.btnmain {
	font-weight: bold;
	cursor: pointer;
	padding: 1px 5px;
	font-size: 1.1em;
	color: #ffffff;
	background: #663300 url("{T_THEME_PATH}/images/tableheader.jpg") top repeat-x;
	border: 1px solid #996633;
	border-radius: 4px; -moz-border-radius: 4px; -webkit-border-radius:4px;
		  /*shadows*/
  -moz-box-shadow: 1px 1px 2px #4f3514; /* for Firefox 3.5+*/ 
  -webkit-box-shadow: 1px 1px 2px #4f3514; /* for Safari and Chrome*/ 
   filter: progid:DXImageTransform.Microsoft.Shadow(color='#4f3514', Direction=145, Strength=2); 
}

.btnlite {
	font-weight: normal;
	color: #ffffff;
	background: #663300 url("{T_THEME_PATH}/images/tableheader.jpg") top;	
	border: 1px solid #996633;
	border-radius: 4px; -moz-border-radius: 4px; -webkit-border-radius:4px;
	cursor: pointer;
	padding: 1px 5px;
	font-size: 1.1em;
		  /*shadows*/
  -moz-box-shadow: 1px 1px 2px #4f3514; /* for Firefox 3.5+*/ 
  -webkit-box-shadow: 1px 1px 2px #4f3514; /* for Safari and Chrome*/ 
   filter: progid:DXImageTransform.Microsoft.Shadow(color='#4f3514', Direction=145, Strength=2); 
}

.btnfile {
	font-weight: normal;
	color: #ffffff;
	background: #663300 url("{T_THEME_PATH}/images/tableheader.jpg") top repeat-x;
	border: 1px solid #996633;
	border-radius: 4px; -moz-border-radius: 4px; -webkit-border-radius:4px;
	padding: 1px 5px;
	font-size: 1.1em;
		  /*shadows*/
  -moz-box-shadow: 1px 1px 2px #4f3514; /* for Firefox 3.5+*/ 
  -webkit-box-shadow: 1px 1px 2px #4f3514; /* for Safari and Chrome*/ 
   filter: progid:DXImageTransform.Microsoft.Shadow(color='#4f3514', Direction=145, Strength=2); 
}


/* BBCode
 ------------ */
.quotetitle, .attachtitle {
	margin: 10px 5px 0 5px;
	padding: 4px;
	border-width: 0 1px 0 1px;
	border-style: solid;
	border-color: #9c542c;
	color: #000000;
	background: #996d3a url("{T_THEME_PATH}/images/title.gif") top repeat-x;
	font-size: 0.85em;
	font-weight: bold;
}

.quotetitle .quotetitle {
	font-size: 1em;
}

.quotecontent, .attachcontent {
	margin: 0 5px 10px 5px;
	padding: 5px;
	border-color: #9c542c;
	border-width: 0 1px 1px 1px;
	border-style: solid;
	font-weight: normal;
	font-size: 1em;
	line-height: 1.4em;
	font-family: "Lucida Grande", "Trebuchet MS", Helvetica, Arial, sans-serif;
	background: #cca067 url("{T_THEME_PATH}/images/content.gif") top repeat-x;
	color: #000000;
}

.attachcontent {
	font-size: 0.85em;
}

.codetitle {
	margin: 10px 5px 0 5px;
	padding: 2px 4px;
	border-width: 0 1px 0 1px;
	border-style: solid;
	border-color: #9c542c;
	color: #000000;
	background: #996d3a url("{T_THEME_PATH}/images/title.gif") top repeat-x;
	background-color: #5B6061;
	font-family: "Lucida Grande", Verdana, Helvetica, Arial, sans-serif;
	font-size: 0.8em;
}

.codecontent {
	direction: ltr;
	margin: 0 5px 10px 5px;
	padding: 5px;
	border-color: #9c542c;
	border-width: 0 1px 1px 1px;
	border-style: solid;
	font-weight: normal;
	color: #000000;
	font-size: 0.85em;
	font-family: Monaco, 'Courier New', monospace;
	background: #cca067 url("{T_THEME_PATH}/images/content.gif") top repeat-x;
}

.syntaxbg {
	color: #FFFFFF;
}

.syntaxcomment {
	color: #FF8000;
}

.syntaxdefault {
	color: #0000BB;
}

.syntaxhtml {
	color: #000000;
}

.syntaxkeyword {
	color: #007700;
}

.syntaxstring {
	color: #DD0000;
}


/* Private messages
 ------------------ */
.pm_marked_colour {
	background: #000000;
}

.pm_replied_colour {
	background: #5B6061;
}

.pm_friend_colour {
	background: #007700;
}

.pm_foe_colour {
	background: #DD0000;
}


/* Misc
 ------------ */
img {
	border: none;
	max-width: 590px;
}

.sep {
	color: black;
	background-color: #D3DADB;
}

table.colortable td {
	padding: 0;
}

pre {
	font-size: 1.1em;
	font-family: Monaco, 'Courier New', monospace;
}

.nowrap {
	white-space: nowrap;
}

.username-coloured {
	font-weight: bold;
}

#wrapcentre {
    background-color: #0d0f0c;
    color: #dcb975;
}
